FILAMENT_QURAN_WIDGET_COLUMN_SPAN=full
FILAMENT_QURAN_WIDGET_DISPLAY_MODE=single
FILAMENT_QURAN_PAGE_REGISTER_NAVIGATION=true
FILAMENT_QURAN_PAGE_DISPLAY_MODE=all
FILAMENT_QURAN_PANEL_ID=quran
FILAMENT_QURAN_PANEL_PATH=quran
FILAMENT_QURAN_PANEL_DISPLAY_MODE=all
