QURAN_PROVIDER=ummahapi
QURAN_CACHE_STORE=
QURAN_CACHE_TTL=604800
QURAN_WIDGET_COLUMN_SPAN=full
QURAN_WIDGET_DISPLAY_MODE=single

EQURAN_BASE_URL=https://equran.id
EQURAN_TIMEOUT=10

UMMAH_API_BASE_URL=https://ummahapi.com
UMMAH_API_TIMEOUT=10
